@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap');

.App{
  font-family:"Libertinus Math", system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.form{
  width: 400px;
  padding: 20px;
  border: 2px solid rgb(35, 184, 171);
  border-radius: 30px;
  box-shadow: 3px 3px 50px rgb(41, 40, 40);
  margin: 30px;
}
.form div{
  margin-bottom: 15px;
}

label{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,select{
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button{
  cursor: pointer;
  height: 80px;
  width: 160px;
  background-color: rgb(35, 172, 182);
  color: white;
  text-align: center;
  font-size: medium;
  border-radius: 5px;
}
button:hover{
  background-color: white;
  color: rgb(39, 161, 177);
  border-radius: 5px;
}
.tabs{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.tab-link{
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid lightblue;
  border-radius: 5px;
  color: darkgray;
  font-weight: bold;
  height: 30px;
  transition: 0.3s ease;
}

.tab-link:hover{
  background-color: rgb(38, 141, 167);
  color: white;
}